node_modules/*
.nitro/*
.output/*
.tanstack/*
.vinxi/*
.vscode/*
devops/*
data/*

.yarn/*
!.yarn/releases

.dockerignore
Dockerfile
docker-compose.yml
Jenkinsfile*
README.md
VERSION
makefile

.pretierignore
.prettierrc.mjs
eslint.config.js
